fastapi==0.103.1  # API
pydantic==2.2.1  # force v2
deta==1.2.0  # databases throughout
pymongo==4.4.1  # mongo db

# Server
gunicorn==21.2.0
uvicorn==0.23.2
python-multipart==0.0.6

# Groceries
inflect==7.0.0  # word singularization and pluralization
mypytoolkit>=1.5.60  # utils

# Jokes
requests==2.31.0  # ping Humor API

# Rotten Tomatoes
rottentomatoes-python==0.6.1  # movie data retrieval

# Cocktails
emoji==2.8.0  # emojis in drink formatting

# GPT
openai==0.28.0  # gpt and ada embeddings
langchain==0.0.298  # chains for easy llm use
faiss-cpu==1.7.4  # vector db
tiktoken==0.4.0  # tokenize, splitting for retrieval

# Tools
wolframalpha==5.0.0  # math tool
beautifulsoup4==4.12.2  # web scraping tool

# Inbound
twilio==8.5.0  # respond with texts, voice calls
pydub==0.25.1  # audio conversion
