fastapi==0.95.1  # API
deta==1.1.0  # permissions

# Server
gunicorn==20.1.0
uvicorn==0.21.1
python-multipart==0.0.6

# Groceries
inflect==6.0.4  # word singularization and pluralization
# translators==5.4.2  # optional item translation, broken in 3.11 (lxml) as of 10-29-22
mypytoolkit>=1.5.60  # utils

# Jokes
requests==2.29.0  # ping Humor API

# Rotten Tomatoes
rottentomatoes-python==0.5.15  # movie data retrieval

# Cocktails
emoji==2.2.0  # emojis in drink formatting

# GPT
openai==0.27.4
langchain==0.0.153
faiss-cpu==1.7.4
tiktoken==0.3.3
beautifulsoup4==4.12.2

# Tools
wolframalpha==5.0.0 

# Inbound
twilio==8.1.0  # respond with texts
elevenlabs==0.2.7

# Wordhunt
# cython==0.29.32  # not supported in App Engine as no GCC
