fastapi==0.91.0  # API
nexmo==2.5.2  # respond with texts
deta==1.1.0  # permissions

# Server
gunicorn==20.1.0
uvicorn==0.20.0

# Groceries
inflect==6.0.2  # word singularization and pluralization
# translators==5.4.2  # optional item translation, broken in 3.11 (lxml) as of 10-29-22
mypytoolkit>=1.5.60  # utils

# Jokes
requests==2.28.1  # ping Humor API

# Rotten Tomatoes
rottentomatoes-python==0.5.0  # movie data retrieval

# Cocktails
emoji==2.1.0  # emojis in drink formatting

# GPT
openai==0.25.0

# Wordhunt
# cython==0.29.32  # not supported in App Engine as no GCC
